body {
	font-family: Helvetica;
	font-size: 14px;
	background-color: #1d1f21;
	color: #ffffff;
	text-align: center;
}

.title {
	font-size: 13px;
	font-family: monospace;
	white-space: pre;
	font-weight: bold;
	color: #b5bd68;
}

.links {
	margin-top: -10px;
}

.main {
	font-size: 16px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 20px;
}

.footer {
	font-size: 10px;
	font-style: italic;
	color: #a3685a;
}

a:link {
	color: #81a2be;
}

a:visited {
	color: #81a2be;
}

a:hover {
	color: #b294bb;
}

a:active {
	color: #b294bb;
}
